.genre-button {
  background-color: rgb(27, 24, 24) !important;
  border-color: rgb(27, 24, 24) !important;
}

.genre-button:hover,
.genre-button:active {
  background-color: rgb(43, 42, 42) !important;
  border-color: rgb(43, 42, 42) !important;
}